@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    hsl(115, 100%, 5%),
    hsl(115, 100%, 20%),
    hsl(115, 100%, 5%)
  );
  overflow-y: hidden;
}

canvas {
  position: absolute;
  top: 10vh;
  border: 3px solid black;
  border-radius: 10px;
  aspect-ratio: 4/3;
}

.controls {
  position: absolute;
  bottom: 5px;
  animation: spookyFadeIn 1s ease-out;
}

.controls ul {
  color: hsl(115, 100%, 45%);
  font-size: 1.5em;
  list-style-type: none;
  font-family: "Creepster", system-ui;
}

.controls ul::before {
  content: attr(title);
  display: block;
  transform: translateX(25%);
}

@keyframes spookyFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}

@media only screen and (max-height: 830px) {
  .controls {
    top: 5px;
    left: 5px;
  }
}

@media only screen and (max-width: 800px) {
  canvas {
    width: 400px;
  }
}
